<mat-card *ngIf="entryForm">
  <mat-card-title
    >{{
      entryForm.controls["id"].value ? "Update" : "Add"
    }}
    Friend</mat-card-title
  >
  <form [formGroup]="entryForm" (ngSubmit)="addFriend()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input #nameInput matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="entryForm['controls']['name'].errors as errors">
        <ng-container *ngIf="errors.required">Required</ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input
        matInput
        type="number"
        placeholder="Age"
        [min]="MIN_AGE"
        [max]="MAX_AGE"
        formControlName="age"
      />
      <mat-error *ngIf="entryForm['controls']['age'].errors as errors">
        <ng-container *ngIf="errors.required">Required</ng-container>
        <ng-container *ngIf="errors.max as maxError">
          Max: {{ maxError.max }}
        </ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input
        matInput
        type="number"
        placeholder="Weight"
        [min]="MIN_WEIGHT"
        [max]="MAX_WEIGHT"
        formControlName="weight"
      />
      <mat-error *ngIf="entryForm['controls']['weight'].errors as errors">
        <ng-container *ngIf="errors.required">Required</ng-container>
        <ng-container *ngIf="errors.max as maxError">
          Max: {{ maxError.max }}
        </ng-container>
      </mat-error>
    </mat-form-field>
    <ng-container
      *ngIf="friendsListForm?.controls?.length"
      [formGroup]="friendsListForm"
    >
      <ng-container *ngFor="let ef of friendsListForm.controls">
        <div [formGroup]="ef">
          <mat-checkbox formControlName="checked">
            {{ ef.value.name }}
          </mat-checkbox>
        </div>
      </ng-container>
    </ng-container>
    <div class="action-buttons">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="entryForm.invalid"
      >
        Add Friend
      </button>
      <button
        mat-raised-button
        type="reset"
        color="warn"
        (click)="cancelForm()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        type="reset"
        color="secondary"
        (click)="resetForms()"
      >
        Reset
      </button>
    </div>
  </form>
</mat-card>
